.masthead {
  min-height: 60vh;
  position: relative;
  background-size: cover;

}

.masthead .container {
  overflow: hidden;

}

.masthead h1 {
  color: whitesmoke;
  position: absolute;
  left: 1.0rem;
  bottom: 1.25rem;
  max-width: 550px;
  padding-right: 1.5rem;
  font-style: oblique;
  font-size: 50px;
  line-height: 0.85;
  word-spacing: -0.5rem;
  
}

.masthead h2 {
  color: whitesmoke;
  position: absolute;
  left: 1.0rem;
  bottom: -0.5rem;
  max-width: 550px;
  padding-right: 1.5em;
  font-style: oblique;
  font-size: 30px;
  
}


.color-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,0.6587009803921569) 0%, rgba(124,123,123,0) 48%);

}

.masthead .fa-instagram {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  max-width: 400px;

}

.masthead .fa-linkedin {
  position: absolute;
  right: 7.0rem;
  top: 1.5rem;
  max-width: 400px;

}

.masthead .fa-facebook {
  position: absolute;
  right: 1.5rem;
  top: 7.0rem;
  max-width: 400px;

}

.masthead .fa-snapchat-ghost {
position: absolute;
right: 7.0rem;
top: 7.0rem;
max-width: 400px;

}

.fa {
  padding: 20px;
  font-size: 35px;
  width: 35px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;

}

.fa-instagram {
  background: #125688;
  color: white;

}

.fa-linkedin {
  background: #007bb5;
  color: white;

}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

  ul {list-style-type: none;}
  body {font-family: Verdana, sans-serif;}

  
  .month {
    padding-right: 70px 25px;
    width: 100%;
    background: #1abc9c;
    background-size: cover;
    text-align: center;
    
  }

  
  .month ul {
    margin: 0;
    padding: 0;
  }

  .month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-style: oblique;
  }

  
  .month .prev {
    float: left;
    padding-top: 10px;
    padding-left: 2rem;
    
  }

  
  .month .next {
    float: right;
    padding-top: 10px;
    padding-right: 2rem;
    
  }

 
  .weekdays {
    margin: 0;
    padding: 10px 0;
    background-color:#ddd;
  }

  .weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
    font-style: oblique;
  }

  
  .days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
    font-style: oblique;
  }

  .days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color: #777;
  }

  
  .days li .active {
    padding: 5px;
    background: #1abc9c;
    color: white;
  }
